<div class="sidebar-title">
</div>
<div class="sidebar-links">
    <div class="link home-link">
        {{#link-to 'main'}}
            Home
        {{/link-to}}
    </div>
    <div class="link lol-link">
        {{#link-to 'league'}}
            Current League Data
        {{/link-to}}
    </div>
</div>