<div class="mom-title">
    Hey mom!
</div>
<div class="mom-message">
    Happy Mother's Day!

    A poem in gifs, just for you:

    <div class="gif-poem">
          <p>Sometimes we might annoy you,</p>
          <iframe src="//giphy.com/embed/b3g9SBi10CDMk?html5=true" width="480" height="283" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

          <p>Sometimes we don't listen to you like we should,</p>
          <iframe src="//giphy.com/embed/2SBiRrfpVZEYg?html5=true" width="480" height="202" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

          <p>Sometimes we try to explain our mistakes,</p>
          <iframe src="//giphy.com/embed/3STFqR93FXsqI?html5=true" width="480" height="270" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

          <p>And don't like to admit we're wrong,</p>
          <iframe src="//giphy.com/embed/ZE8dspq6yBruo?html5=true" width="480" height="196" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

          <p>You keep us from doing dumb things,</p>
          <iframe src="//giphy.com/embed/N1q8Nx82j6Kxa?html5=true" width="480" height="368" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

          <p>And sometimes we don't deal with that very well,</p>
          <iframe src="//giphy.com/embed/DPOMjp6AhlJ5K?html5=true" width="480" height="360" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

          <p>And yet you still put up with us.</p>

          <p>That's why you're awesome</p>
          <iframe src="//giphy.com/embed/RyvaihB82Vsis?html5=true" width="480" height="311" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

          <p>And that's why we love you!</p>
          <iframe src="//giphy.com/embed/d5YvW6O5RswxO?html5=true" width="480" height="269" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

          <div class="outro">
              HAPPY MOTHER'S DAY!
          </div>
    </div>
</div>

